* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7e024;
    color: #080808;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
}
h1{
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    font-size: 4rem;
}